body {
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    height: 20vh;
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #004D40;
    color: #004D40
}

h1 {
    font-size: 3em;
    margin: .5em auto 0 auto;
}

.search {
    margin: 0 0 3em 0;
    height: 2em;
    width: 12.3em;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid darkslategray;
}

.search:focus {
    box-shadow: 2px 2px 1px darkslategrey;
    outline: none;
}

.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* height: 35vh; */
    justify-content: center;
    align-items: center;
}

.box {
    /* flex: 1; */
    height: 15em;
    width: 15em;
    margin: 1em;
    background-image: url('./recipe_default.jpeg');
    background-size: cover;
    border: 1px solid darkgrey;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box p {
    display: flex;
    background: rgba(216, 216, 216, 0.2);
    width: 80%;
    height: 3em;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0 auto;
    text-align: center;
}

i {
    position: absolute;
    text-indent: 7px;
    margin-top: 13px;
    color: lightslategrey;
}

a {
    text-decoration: none;
}

@media(min-width: 900px) {
    header {
        width: 88%;
    }
    .row {
        justify-content: space-between;
    }
    .box:nth-child(10) {
        align-self: center;
    }
    span {
        align-self: flex-start;
    }
}